<h1>Change password</h1>
<form method="POST" action="/accounts/change-password">
    <label for="currentPass">Current password:</label>
    <input
        type="password"
        id="currentPass"
        name="currentPass"
        placeholder="Enter current password"
        required
    /><br />
    <label for="newPass">New password:</label>
    <input
        type="password"
        id="newPass"
        name="newPass"
        placeholder="Enter new password"
        required
    /><br />
    <label for="confirmPass">Confirm new password:</label>
    <input
        type="password"
        id="confirmPass"
        name="confirmPass"
        placeholder="Enter new password again"
        required
    /><br />
    <button type="submit">Change password</button>
</form>

<%if (err > 0) {%>
<p style="color: red; font-weight: bold">
    <%if (err==1){%>Unexpected error: user not found!<%}%>
    <%if (err==2){%>Current password is wrong<%}%>
    <%if (err==3){%>Password confirmation does not match<%}%>
</p>
<%}%>
